.navbar-default {
  background-color: darkgreen;
  border-color: darkgreen;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #d1ffed;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #d1ffed;
}
.navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  color: #d1ffed;
  background-color: #27ae60;
}
.navbar-default .navbar-nav .active > a {
  color: white;
  background-color: #27ae60;
}
.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
  color: #d1ffed;
  background-color: #27ae60;
}
.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
  border-top-color: #d1ffed;
  border-bottom-color: #d1ffed;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #d1ffed;
  border-bottom-color: #d1ffed;
}
.navbar-default .navbar-toggle {
  border-color: #27ae60;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #27ae60;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d1ffed;
    background-color: #27ae60;
  }
}

.btn-success {
  background-color: #27ae60;
}

.btn-success:hover, .btn-success:focus {
  color: #d1ffed;
  background-color: #27ae60;
}

body {
  background-color: green;
}

.btn-popup {
  width: 180px;
}

.parking-map {
  height: 400px;
}

.header {
  padding-left: 0;
  padding-right: 0;
}

